<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANSqDUbRswCj9CZk636bqpCWwSXG402zg</string>
	<key>GCM_SENDER_ID</key>
	<string>504736964361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flastChatFirebaseExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flast-chat-angela-example</string>
	<key>STORAGE_BUCKET</key>
	<string>flast-chat-angela-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504736964361:ios:7735e458d946133de3bdd8</string>
</dict>
</plist>